<!DOCTYPE html>
<html>
<head>
  <title>Provisioning Test Page</title>
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  <style type="text/css">
    body {
      text-align:center;
      font-family: 'Slabo 27px', serif;
      height:100vh;
    }

    .vertical-center {

      position:relative;
      top:50%;
      transform: translateY(-50%);

    }

    img {
      width:250px;
    }
  </style>
</head>
<body>
  <div class="vertical-center">
    <h1>Welcome to the Sparta Test App - CICD</h1>
    <h2>The app is running correctly. Running in our Pipeline</h2>
    <img src="/images/sparta.png" />
  </div>
</body>
</html>
